<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


    <link rel="stylesheet" href="{{ url_for('.static', filename='index.css') }}">
    <title>Autenticação</title>
</head>

<body>
    <header class="header">
        <h1 class="logotipo">Godinho.</h1>
    </header>

    <section class="container">
        <div class="login inactive">
            <div class="login-header">
                <h1>Login</h1>
            </div>
            <form id="form-login">
                <input type="text" name="usuario" placeholder="Usuário" required>
                <input type="password" name="senha" placeholder="Senha" required>
                <input type="submit" class="login-btn" value="Entrar">
            </form>
        </div>

        <div class="signup active">
            <form id="form-signup">
                <div class="signup-header">
                    <span>Cadastre-se</span>
                </div>
                <div class="body-signup">
                    <div class="username-container">
                        <input type="text" name="usuario" placeholder="Username" id="usuario" required>
                    </div>
                    <div class="email-container">
                        <input type="email" name="email" id="email" placeholder="Digite seu e-mail">
                    </div>
                    <div class="senha-container">
                        <div class="container-minor">
                            <input type="password" id="senha1" name="cad-senha" placeholder="Senha" required>
                            <i class="fa fa-regular fa-eye fa-senha1" id="icone1"
                                onclick="togglePassVisibility('senha1', 'icone1')"></i>
                        </div>
                    </div>
                    <div class="senha-container">
                        <div class="container-minor">
                            <input type="password" id="senha2" name="cad-confirm" placeholder="Confirme a senha"
                                required>
                            <i class="fa fa-regular fa-eye fa-senha2" id="icone2"
                                onclick="togglePassVisibility('senha2', 'icone2')"></i>
                        </div>
                    </div>
                </div>

                <div class="div-btns">
                    <input type="submit" class="signup-btn" value="Cadastrar">
                    <input type="button" class="login-btn" value="Fazer Login">
                </div>
            </form>
        </div>

    </section>
    <script src="{{ url_for('.static', filename='index.js') }}"></script>
</body>

</html>