@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
    --dark-background: linear-gradient(to bottom, #1b1b1b 0%, #202020 40%, #161515 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply;
    --light-background: linear-gradient(to bottom, #D5DEE7 0%, #E8EBF2 50%, #E2E7ED 100%), linear-gradient(to bottom, rgba(0,0,0,0.02) 50%, rgba(255,255,255,0.02) 61%, rgba(0,0,0,0.02) 73%), linear-gradient(33deg, rgba(255,255,255,0.20) 0%, rgba(0,0,0,0.20) 100%);
    background-blend-mode: normal,color-burn;
    --imagem-background: url('../static/img/background2.jpg');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    overflow: hidden;
}

body{
    background: var(--imagem-background);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-width: 420px;
    height: 100vh;
}

header {
    background-color: slategray;
}

.container{
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    padding: 20px;
}

.signup, .login {
    position: absolute;
    width: 40%;
    min-width: 534px;
    height: 80%;
    min-height: 614px;
    padding: 10px 0;
    justify-content: center; /* Centralizar horizontalmente */
    align-items: center; /* Centralizar verticalmente */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signup {
    box-shadow: -1px 0px 10px 5px rgba(0, 0, 0, 0.171);
    backdrop-filter: blur(15px);
    border-radius: 10px 0 0 10px;
    padding-inline: 20px;
    margin: 0;
    border-radius: 10px;
}

.signup-header{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    border-radius: 10px 10px 0 0;
    padding: 5px 0 15px 0px;
}

.signup-header > span {
    color: ghostwhite;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.849);
    font-size: 30px;
}

.body-signup {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 60%;
    width: 100%;
    padding: 10px;
}
.body-signup div{
    justify-content: center;
    height: 100%;
}

label {
    color: ghostwhite;
    font-weight: 500;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.849);
    text-align: center;
}

.username-container, .email-container, .senha-container {
    display: flex;
    align-items: center;
    padding: 15px 0 15px 15px;
    margin: 10px 0;
    text-align: right;

}

.username-container > input, .email-container > input{
    display: flex;
    border: none;
    width: 65%;
    padding: 20px;
    border-radius: 5px;

}

.container-minor {
    width: 65%;
    display: flex;
    align-items: center;
    padding-block: 30px;
    background-color: ghostwhite;
    border-radius: 5px;
    position: relative;
}

.container-minor > input{
    width: 100%;
    height: 100%;
    padding: 30px 0 30px 10px;
    border: none;
}

.container-minor i {
    position: absolute;
    right: 0;
    width: 8%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #20202015;
    cursor: pointer;
}

input:not(div.senha-container input), .container-minor
{
 box-shadow: 1px 0px 5px black;
}

input{
    font-size: 15px;
    user-select: none;
}
input:focus {
    outline: none;
  }

#form-signup, #form-login {
    width: 100%;
    height: 100%;
}

.termos{
    margin: 0;
    padding-inline: 3px;
    
}


.div-btns {
    display: flex;
    flex-direction: column;
    padding-block: 20px;
    width: 100%;
    gap: 10px;
    align-items: center;
}

.signup-btn {
    width: 50%;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    color: ghostwhite;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid rgb(184, 182, 182);
    position: relative;
}

.login-btn{
    width: 50%;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid rgb(184, 182, 182);
    color: ghostwhite;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.signup-btn:hover, .login-btn:hover {
    background-color: ghostwhite;
    color: black;
    transition: 300ms ease-in-out;
}

.inactive {
    opacity: 0;
    transition: all 0.5s ease-in-out;
    pointer-events: none;
}

.active {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}


/*media max-width de 760px*/
@media (max-width: 760px) {
    .signup, .login {
        position: absolute;
        width: 20%;
        min-width: 400px;
        height: 20%;
        min-height: 650px;
        /*centraliza na tela*/
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    #form-signup, #form-login {
        width: 100%;
        height: 80%;
    }

    .body-signup{
        padding: 0;
        margin: 0;
    }

    input:not(div.senha-container input), .container-minor
     {
      box-shadow: 1px 0px 5px black;
    }

    .container-minor > input {
        width: 100%;
        height: 100%;
    }

    .container-minor > i {
        width: 15%;
    }

}